@font-face {
font-family: 'Agustina Regular';
font-style: normal;
font-weight: normal;
src: url('../assets/Agustina.woff') format('woff');
}

.signature{
    font-family: 'Agustina Regular';
    font-size: 30px;
    padding-top: 8px;
    
}